.layout-main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    padding: 7rem 2rem 2rem 4rem;
    transition: margin-left $transitionDuration;
}

.layout-main {
    flex: 1 1 auto;
}

.overView_text{
    background: #F8FAFB;
    border-radius: 18px;
    padding: 0.5rem;
     color: #0a1f3c;
    font-weight: 600;
    font-size: 11px;
}
.red{
    background: #D71E0E;
    border-radius: 18px;
}